.container {
    margin-top: 10vmin;
    width: 80vmin;
    height: 80vmin;
    position: relative;
    margin: auto;
    will-change: transform;
}

.triangle {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    pointer-events: none;

    & > div {
        width: 50%;
        height: 50%;
        margin-top: 5%;

        &:nth-child(1) {
            margin-left: 25%;
            margin-right: 25%;
            top: -4%;
        }

        &:nth-child(2) {
            top: -9.5%;
            left: -2.5%;
        }

        &:nth-child(3) {
            top: -9.5%;
            right: -2.5%;
        }
    }
}

.dot {
    border-radius: 50%;
    font-size: 9px;
    background-color: #00acc1;
    color: #fff;
    display: flex;
    cursor: pointer;
    pointer-events: all;
    user-select: none;
    align-items: center;
    justify-content: center;
    position: relative;

    &.hovered {
        background-color: #e53935;
    }
}
