{
    "presets": [
        [
            "@babel/env",
            {
                "useBuiltIns": "usage",
                "corejs": 3,
                "targets": { "browsers": ["last 2 versions"] }
            }
        ],
        "@babel/typescript"
    ],
    "plugins": ["@babel/transform-typescript", "@fract/transform-jsx"]
}
