.container {
    height: 70px;
    display: flex;
    &:not(:last-child) {
        border-bottom: 1px solid #f5f5f5;
    }
    &:hover {
        .remove {
            opacity: 1;
        }
    }
}

.todoName {
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 24px;
    user-select: none;
    transition: color 0.3s ease;

    &.done {
        color: #d0d0d0;
    }
}

.status {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: fill 0.3s ease;
    fill: #e0e0e0;

    &.done {
        fill: #4fc3f7;
    }
}

.remove {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    fill: #e0e0e0;
    opacity: 0;
    transition: opacity 0.3s ease;

    &:hover {
        fill: #4fc3f7;
    }
}

.editName {
    flex: 1;
    font-size: 24px;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    font-family: inherit;
    font-weight: inherit;
    color: #000;
}
