.container {
    display: flex;
    align-items: center;
    height: 20px;
    margin-bottom: 30px;
}
.icon {
    width: 20px;
    height: 20px;
    fill: #b0bec5;
}
.iconLoader {
    width: 26px;
    height: 26px;
    margin: -3px;
    background-color: #a5a5a5;
    border-radius: 50%;
}
.name {
    margin-left: 25px;
    color: #363636;
    font-weight: 300;
    font-size: 16px;
    flex: 1;
}
