.menuItemIconLoader {
    width: 26px;
    height: 26px;
    margin: -3px;
    background-color: #a5a5a5;
    border-radius: 50%;
}
.container {
    font-weight: 300;
    grid-column: 2/3;
    grid-row: 3/4;
    padding-left: 40px;
}
.menuItem {
    display: flex;
    align-items: center;
    height: 20px;
    margin-bottom: 30px;
}
.menuItemIcon {
    width: 20px;
    height: 20px;
    fill: #b0bec5;
}
.menuItemName {
    margin-left: 25px;
    color: #363636;
    font-weight: 300;
    font-size: 16px;
    flex: 1;
}
