.container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 100px 20px;
    font-weight: 100;
}
.wrapper {
    width: 100%;
    max-width: 500px;
}
.header {
    font-size: 100px;
    text-align: center;
    color: #29b6f6;
    user-select: none;
}
.main {
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}
.list {
    font-size: inherit;
}
.newTodoNameInput {
    width: 100%;
    height: 70px;
    font-size: 24px;
    padding: 20px;
    margin: 0;
    border: none;
    outline: none;
    font-family: inherit;
    font-weight: inherit;
    border-bottom: 1px solid #e5e5e5;
    -webkit-font-smoothing: antialiased;
    ::placeholder {
        font-style: italic;
        color: #adadad;
    }
}
