.container {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr minmax(min-content, 230px) minmax(min-content, 660px) minmax(min-content, 230px) 1fr;
    grid-template-rows: 90px 50px 1fr;
    grid-column-gap: 30px;
}

.logo {
    color: #039be5;
    font-weight: 300;
    font-size: 34px;
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    padding-left: 40px;
}

.title {
    font-size: 23px;
    font-weight: 500;
    color: #363636;
    grid-column: 3/4;
    grid-row: 2/3;
}
