.container {
    width: auto;
}
.img {
    width: 100%;
    flex: 1;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}
.imgLoader {
    width: auto;
    height: auto;
    flex: 1;
    padding-top: 100%;
    background-color: #a5a5a5;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}
.name {
    flex: 0 0 50px;
    font-size: 16px;
    padding-top: 20px;
    font-weight: 400;
    color: #363636;
}
