.dice {
    transform: matrix(0.003, 0, 0, 0.003, 20, 20);
}

.red {
    &.side {
        &.top {
            fill: hsl(0, 73%, 53%);
        }
        &.left {
            fill: hsl(0, 73%, 47%);
        }
        &.right {
            fill: hsl(0, 73%, 41%);
        }
    }
    &.corner {
        &.center {
            fill: hsl(0, 73%, 57%);
        }
        &.left {
            fill: hsl(0, 73%, 50%);
        }
        &.right {
            fill: hsl(0, 73%, 44%);
        }
        &.bottom {
            fill: hsl(0, 73%, 40%);
        }
    }
}

.number {
    &.top {
        fill: #fff;
    }
    &.left {
        fill: #ddd;
    }
    &.right {
        fill: #bbb;
    }
}
