.army {
    pointer-events: all;
    transition: opacity 0.3s ease;

    &.hidden {
        opacity: 0;
    }

    .slot-1 {
        transform: matrix(1, 0, 0, 1, 3.5, 0);
    }
    .slot-2 {
        transform: matrix(1, 0, 0, 1, 3.5, -4.9);
    }
    .slot-3 {
        transform: matrix(1, 0, 0, 1, 3.5, -9.8);
    }
    .slot-4 {
        transform: matrix(1, 0, 0, 1, 3.5, -14.7);
    }
    .slot-5 {
        transform: matrix(1, 0, 0, 1, -2.3, -4);
    }
    .slot-6 {
        transform: matrix(1, 0, 0, 1, -2.3, -8.9);
    }
    .slot-7 {
        transform: matrix(1, 0, 0, 1, -2.3, -13.8);
    }
    .slot-8 {
        transform: matrix(1, 0, 0, 1, -2.3, -18.7);
    }

    &.attack {
        .slot-1 {
            animation: spin 0.5s linear forwards;
        }

        @keyframes spin {
            0% {
                transform: matrix(1, 0, 0, 1, 3.5, 0) rotate(0deg);
            }
            10% {
                transform: matrix(1, 0, 0, 1, 3.5, -5) rotate(120deg);
            }
            20% {
                transform: matrix(1, 0, 0, 1, 3.5, 0) rotate(240deg);
            }
            40% {
                transform: matrix(1, 0, 0, 1, 6, -3) rotate(360deg);
            }
            60% {
                transform: matrix(1, 0, 0, 1, 8, 0) rotate(480deg);
            }
            80% {
                transform: matrix(1, 0, 0, 1, 10, -2) rotate(600deg);
            }
            100% {
                transform: matrix(1, 0, 0, 1, 12, 0) rotate(720deg);
            }
        }
    }
}

.shadow {
    fill: rgba(0, 0, 0, 0.6);
}
